#box2-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 28px auto;
}

#box2 {
  @include hover;

  .hatena-module {
    width: calc(50% - 12px);
  }

  .hatena-module-title {
    margin: 12px 0 8px;
    border-bottom: 2px solid $light-gray;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 6px;
    letter-spacing: 1px;
  }

  .hatena-module-body {
    padding: 0 12px;
  }

  .hatena-module-body .archive-module-hide-button,
  .hatena-module-body .archive-module-show-button {
    font-size: 8px;
    vertical-align: 1px;
  }

  ul {
    list-style: disc;
    font-size: 12px;
    padding-left: 24px;

    ul {
      padding: 0;
    }
  }

  .search-form {
    .search-module-input {
      border-radius: 4px;
      border: 0;
      background: $gray;
      padding: 8px 12px;
      width: 100%;

      &:focus {
        outline: 0;
      }
    }

    .search-module-button {
      display: none;
    }
  }
}
