.breadcrumb {
  @include hover;

  padding: 0 60px 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;

  .breadcrumb-gt {
    opacity: 1;
    margin: auto 4px;
    color: $dark-gray;
  }
}

.archive-header-category {
  display: none;
}

.archive-entries {
  margin-top: 20px;
  font-size: 14px;
  line-height: 26px;

  .date {
    @include date;
  }

  .entry-title {
    @include title;
  }

  .categories {
    display: none;
  }

  .entry-description {
    margin: 10px 16px;
  }

  .social-buttons {
    display: none;
  }

  .entry-thumb {
    width: 100px;
    height: 100px;
    margin: 16px;
    border-radius: 4px;
    float: right;
  }

  .archive-entry-header {
    margin-top: 20px;
  }
}
