#top-box * {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $black;
}

#top-box {
  padding: 0 60px 20px;
}

#top-box a {
  color: $brown;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-decoration: none;
}

#content {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: $black;
}

#content .archive-header-category {
  display: none;
}

.archive-entries {
  margin-top: 20px;
}

.archive-entries .date {
  text-indent: 16px;
}

.archive-entries .date a {
  color: $brown;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-decoration: none;
}

.archive-entries .entry-title {
  padding-bottom: 8px;
  border-bottom: 4px solid $light-gray;
  padding-left: 16px;
  line-height: 24px;
}

.archive-entries .entry-title a {
  color: $black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.archive-entries .categories {
  display: none;
}

.archive-entries .categories .archive-category-link {
  text-decoration: none;
  color: $black;
  font-size: 12px;
  padding-left: 16px;
  margin-right: 16px;
  background: url('https://cdn.blog.st-hatena.com/css/theme/evergreen/images/tag@2x.png') no-repeat;
  background-size: 11px 11px;
  background-position: left 4px;
}

.archive-entries .entry-description {
  margin: 10px 16px;
  width: calc(100% - 148px);
}

.archive-entries .social-buttons {
  display: none;
}

.archive-entries .entry-thumb {
  width: 100px;
  height: 100px;
  margin: 0 0 0 16px;
  position: absolute;
  right: 16px;
  top: 80px;
  border-radius: 4px;
}

.archive-entries .archive-entry {
  position: relative;
}

.archive-entries .archive-description {
  position: relative;
}

.archive-entries .archive-entry-header {
  margin-top: 20px;
}
