.entry-footer {
  font-size: 14px;
  line-height: 26px;
  margin: 28px auto;

  .hatena-star-container {
    margin: 12px auto;
  }
}

.hatena-module-title {
  margin-top: 20px;
  border-bottom: 2px solid $light-gray;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding: 0 0 10px 16px;
  letter-spacing: 1px;
}

.entry-footer-modules .related-entries {
  .related-entries-item {
    padding: 16px;
    max-height: calc(80px + 2*16px);
    border-bottom: 2px solid $light-gray;

    &:last-child {
      border-bottom: 0;
    }
  }

  .related-entries-image {
    float: right;
    margin: 0 0 0 16px;
    border-radius: 4px;
    width: 80px;
    height: 80px;
  }

  .related-entries-date-link {
    line-height: 20px;

    a {
      color: $brown;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .related-entries-title {
    text-decoration: none;
    color: $black;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      color: $green;
    }
  }

  .related-entries-entry-body {
    display: none;
  }
}

.entry-footer .comment-box {
  display: none;
}

.pager {
  position: relative;
  margin: 16px 0 36px;
  height: 38px;

  .pager-prev a,
  .pager-next a {
    display: inline-block;
    position: absolute;
    background: $green;
    padding: 8px 20px;
    border-radius: 30px;
    max-width: calc(50% - 8px);
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 21px;

    color: $white;
    transition: 0.3s

    &:hover {
      transform: scale(1.05);
    }
  }

  .pager-prev a {
    left: 0;
  }

  .pager-next a {
    right: 0;
  }

  .pager-arrow {
    vertical-align: 1px;
  }
}
