.entry-date {
  @include date;
}

.entry-title {
  @include title;
}

.entry-categories {
  margin: 8px 16px;

  .entry-category-link {
    text-decoration: none;
    color: $black;
    font-size: 12px;
    padding-left: 16px;
    margin-right: 16px;
    background: $tag no-repeat;
    background-size: 11px 11px;
    background-position: left 4px;
  }
}
