#footer {
  background: $white;
  text-align: center;
  padding: 7px 0 8px 0;
  border-top: 1px solid $light-gray;
  font-size: 12px;

  a {
    text-decoration: none;
    color: $black;
  }

  img {
    width: 12px;
    height: 12px;
  }

  address {
    line-height: 16px;
  }
}
