#globalheader-container {
  background: $white;
  border-bottom: 1px solid $light-gray;
  padding: 1px 0;
}

#container {
  background: $green;
  padding: 62px;
}

#container-inner {
  background: $white;
  border-radius: 8px;
  max-width: 1000px;
  margin: 0 auto
}
